<div class="page-header">
  <h1> Job Name: <%= @job.name %> </h1>
  <h6> Company: <%= @job.company %> </h6>
  <h6> Address: <%= @job.address %> </h6>
  <h6> Phone: <%= @job.phone %> </h6>
</div>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@job.latitude},#{@job.longitude}&markers=#{@job.latitude},#{@job.longitude}&zoom=16&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8"%>
