<div class="page-header">
  <h1> Job Name: <%= @job.name %> </h1>
  <h6> Address: <%= @job.address %> </h6>
  <h6> Phone: <%= @job.phone %> </h6>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Apply
  </button>
  <%= render 'form_apply'%>
</div>

<div class="container">
  <div class="row">
    <p>
      <strong>Description:</strong>
      <%= @job.description %>
    </p>

    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@job.latitude},#{@job.longitude}&markers=#{@job.latitude},#{@job.longitude}&zoom=16&size=240x200&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8"%>

    <%= render 'comment' %>
  </div>
</div>

