<div class="form-user">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>Log in</h1>
      </div>
    <%= form_for(:user , url: login_path) do |f| %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "examp@gmail.co" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "**********"%>
      </div>

      <%= f.submit "Log in", class: "btn btn-info" %>
    <% end %>
    </div>
  </div>
</div>