<div class="page-header">
  <h1> Listing Users</h1>
</div>
<%= link_to 'New User', new_admin_path, class: 'btn btn-primary' %>
<br>

<br>
<%= form_tag admins_path, method: :get, id: "admins_search", remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", email: nil %>
  </p>
<% end %>


<div id="users"><%= render 'users' %></div>