<div class="page-header">
	<h1> Job Name: <%= @job.name %> </h1>
	<h6> Company: <%= @job.company %> </h6>
  <h6> Address: <%= @job.address %> </h6>
  <h6> Phone: <%= @job.phone %> </h6>
</div>

<h2>Category: <%= @job.category %></h2>
<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-info' %> |
<%= link_to 'Back', jobs_path, class: 'btn btn-info' %>
<br>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@job.latitude},#{@job.longitude}&markers=#{@job.latitude},#{@job.longitude}&zoom=16&size=240x200&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8"%>
<h2>Comments</h2>

<% @job.comments.each do |comment| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="panel-title"><%= comment.commenter %></i> <br>
        <i><%= comment.created_at %></i>
      </div>
      <div class="panel-body">
        <p><%= comment.content %></p>

        <%= link_to 'Destroy Comment', [comment.job, comment],
                    method: :delete,
                    data: { confirm: 'Do you want delete comment?' }, class: 'btn btn-danger'%>
      </div>

    </div>
<% end %>

<h2>Add a comment:</h2>
<%= form_for ([@job, @job.comments.build]) do |f| %>
    <div class="form-group">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
<% end %>