<div class="page-header">
  <h1>Listing User</h1>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>User Type</th>
    <th>Created At</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.user_type %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>